.Home{
    margin: 0;
    padding: 0;
  }
  .bgColor:hover{
    background-color: #f3041bbd;
  }
  .fontColor{
      color: #f3041bbd;
  }
  .iconSize{
    font-size: 2rem;
    padding: 6px;
    width: 60px;
    height: 60px;
    text-align: center;
  }
  .bgGary{
      background-color: #eee;
  }
  .imgBox{
      width: 50%;
  }
  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead .masthead-avatar {
    width: 15rem;
  }
  .btnStyle {
    --c: #f3041bbd;
    color: var(--c);
    font-size: 12px;
    border: 0.1em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

 .btnStyle span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

 .btnStyle:hover {
    color: black;
}

 .btnStyle:hover span {
    transform: translateY(0) scale(2);
}

.btnStyle span:nth-child(1) {
    --n: 1;
}

 .btnStyle span:nth-child(2) {
    --n: 2;
}

 .btnStyle span:nth-child(3) {
    --n: 3;
}

.btnStyle span:nth-child(4) {
    --n: 4;
}
.btnStyle span:nth-child(5) {
    --n: 5;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}